init.el
/.emacs.desktop
/.org-id-locations
/.ercrc.el
elpa/*
emms/*
eshell/*
/ac-comphist.dat
/config.html
/diary
.python-*
auto-save-list/*
/abbrev_defs
dmenu-items*
/forge-database.sqlite
/history
image-dired/*
/lisp/cyberpunk-2019-theme.el
*~
/tramp
/transient/history.el
url/*
request/*
/plugins/*
/parenthesis.el
/projectile-bookmarks.eld
/projectile.cache
src/*
/network-security.data
/srecode-map.el
ltximg/*
games/*
desktops/*
/grayscale-theme.el
/bookmarks
/config.el
/diredful-conf.el
/diredful-customizations

